<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content= "{{ site.description }}"  />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ "assets/css/stack-interface.css" | relative_url }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ "assets/css/socicon.css" | relative_url }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "assets/css/iconsmind.css" | relative_url }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "assets/css/bootstrap.css" | relative_url }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "assets/css/stack-interface.css" | relative_url }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "assets/css/theme-greensea.css" | relative_url }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "assets/css/custom.css" | relative_url }}" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet" type="text/css">
    <link href="{{ "assets/css/font-roboto.css" | relative_url }}" rel="stylesheet" type="text/css">

</head>
