<!doctype html>
<html lang="en">
    {% include head.html %}
    <body data-smooth-scroll-offset="77">
        <div class="nav-container">
            <div class="via-1588329641969" via="via-1588329641969" vio="LTCIM Header">
                <div class="bar bar--sm visible-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 col-md-2">
                                <a href="index.html"> <img class="logo logo-dark" alt="logo" src="img/muellnerslarge.png"> <img class="logo logo-light" alt="logo" src="img/muellnerslarge.png"> </a>
                            </div>
                            <div class="col-9 col-md-10 text-right">
                                <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav id="menu1" class="bar bar-1 hidden-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-1 col-md-2 hidden-xs">
                                <div class="bar__module">
                                    <a href="index.html"> <img class="logo logo-dark" alt="logo" src="img/muellnerslarge.png"> <img class="logo logo-light" alt="logo" src="img/muellnerslarge.png"> </a>
                                </div>
                            </div>
                            <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
                                <div class="bar__module">
                                    <ul class="menu-horizontal text-left">
                                        <li class="dropdown"> <span class="dropdown__trigger">Register&nbsp;</span>
                                            <div class="dropdown__container">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="dropdown__content row w-100">
                                                            <div class="col-lg-3">
                                                                <h5>NGOs</h5>
                                                                <ul class="menu-vertical">
                                                                    <li> <a href="#">NGO Registration</a> </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <h5>Users</h5>
                                                                <ul class="menu-vertical">
                                                                    <li> <a href="#">User Registration</a> </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li> <a href="#">About</a> </li>
                                        <li> <a href="#">Blog</a> </li>
                                    </ul>
                                </div>
                                <div class="bar__module">
                                    <a class="btn btn--sm type--uppercase" href="#customise-template"> <span class="btn__text">Explore Demo</span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        {{ content }}

            <footer class="space--sm footer-1 text-center-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline list--hover">
                                <li> <a href="#"><span>Muellners Capital</span></a> </li>
                                <li> <a href="#"><span>Products</span></a> </li>
                                <li> <a href="#"><span>Social</span></a> </li>
                                <li> <a href="#"><span>Newsroom</span></a> </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li><a href="https://www.facebook.com/muellnersorg" target="_blank"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/muellnersfoundation" target="_blank"><i class="socicon icon socicon-linkedin icon--xs"></i></a></li>
                                <li><a href="https://twitter.com/muellnersorg" target="_blank"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                                <li><a href="https://www.instagram.com/muellnersllc" target="_blank"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                            </ul>
                            <a href="https://www.muellners.org/contact.html" class="btn type--uppercase" target="_blank"> <span class="btn__text">
                        Contact Us
                    </span> </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"> <img alt="Image" class="logo" src="img/muellners2.jpeg"> <span class="type--fine-print">©2012 - 2020 Muellners® Frivilig Forening, Denmark &amp; Muellners® Internet Pvt Ltd, India&nbsp;</span> <a class="type--fine-print" href="https://www.iubenda.com/privacy-policy/49129847" target="_blank">GDPR Privacy</a> </div>
                    </div>
                </div>
            </footer>

        <script src="assets/js/jquery-3.1.1.min.js"></script>
        <script src="assets/js/parallax.js"></script>
        <script src="assets/js/smooth-scroll.min.js"></script>
        <script src="assets/js/scripts.js"></script>

    </body>

</html>
