---
layout: default
---
<section id="blog">
    <div class="container">
        <div class="col-md-6 col-md-offset-3"
             {{ content }}
    </div>
</section>



<!--<div class="main-container">-->
<!--    <section>-->
<!--        <div class="container">-->
<!--            <div class="row justify-content-center">-->
<!--                <div class="col-md-10 col-lg-8">-->
<!--                    <article>-->
<!--                        <div class="article__title text-center">-->


<!--                            <h1 class="h2">{{ % page.title % }}</h1> <span>May 2nd 2016 in </span><span><a href="#">Web Design</a></span> </div>-->
<!--                        <div class="article__body"> <img alt="Image" src="img/blog-1.jpg">-->
<!--                            <p> Co-working SpaceTeam fund big data prototype prototype long shadow latte big data. Innovate affordances personas user centered design paradigm user centered design innovate quantitative vs. qualitative pivot thought leader viral paradigm cortado affordances. </p>-->
<!--                            <h5>An additional point</h5>-->
<!--                            <p> Paradigm piverate innovate affordances user centered design personas pair programming Steve Jobs iterate earned media. Affordances food-truck SpaceTeam unicorn disrupt integrate viral pair programming big data pitch deck intuitive intuitive prototype long shadow. Responsive hacker intuitive driven waterfall is so 2000 and late intuitive cortado bootstrapping venture capital. Engaging food-truck integrate intuitive pair programming Steve Jobs thinker-maker-doer human-centered design. </p>-->
<!--                            <blockquote> “ We want everyone to have a great experience building their website — and with Stack they get just that” </blockquote>-->
<!--                            <figure class="col-6 pull-right"> <img alt="Image" src="img/blog-2.jpg">-->
<!--                                <figcaption>Credit: Chris Campbell (via Unsplash)</figcaption>-->
<!--                            </figure>-->
<!--                            <p> Co-working SpaceTeam fund big data prototype prototype long shadow latte big data. Innovate affordances personas user centered design paradigm user centered design innovate quantitative vs. qualitative pivot thought leader viral paradigm cortado affordances. </p>-->
<!--                            <p> Prototype intuitive intuitive thought leader personas parallax paradigm long shadow engaging unicorn SpaceTeam fund ideate paradigm. Pair programming 360 campaign piverate minimum viable product pair programming bootstrapping sticky note Steve Jobs affordances ideate thinker-maker-doer big data physical computing. Workflow driven innovate long shadow SpaceTeam grok pivot. </p>-->
<!--                            <ul class="bullets">-->
<!--                                <li>Something to say</li>-->
<!--                                <li>Listing things in a list</li>-->
<!--                                <li>Pay close attention to number 4</li>-->
<!--                                <li>What happens next will shock you</li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="article__share text-center">-->
<!--                            <a class="btn bg&#45;&#45;facebook btn&#45;&#45;icon" href="#"> <span class="btn__text">-->
<!--								<i class="socicon socicon-facebook"></i>-->
<!--								Share on Facebook-->
<!--							</span> </a>-->
<!--                            <a class="btn bg&#45;&#45;twitter btn&#45;&#45;icon" href="#"> <span class="btn__text">-->
<!--								<i class="socicon socicon-twitter"></i>-->
<!--								Share on Twitter-->
<!--							</span> </a>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--</div>-->
